div h1{
    background-color: orange;
}
header>h1{
    color: red;
}
div>h1{
    text-decoration: underline;
}
#primerDiv h1:hover{
    background-color: aqua;
}
div:hover>h1{
    background-color: rgb(169, 77, 169);
}
li.c1{
    font-size: 30px;
}
header .c1 {
    border-top:3px solid blue;
}
.c1.c2{
    color:green;
}
.c1,.c2{
    border-right: 5px solid black;
}
li:first-child{
    background-color: blueviolet;
}
li:nth-child(1){
    color: white;
}
li:nth-child(3){
    background-color: yellow;
}
li:last-child{
    border-left:10px dotted red;
}
li:nth-child(2n){
    text-decoration: line-through;
}
li:nth-child(even){
    background-color: bisque;
}
li:nth-child(2n+1){
    color:orange;
}
li:nth-child(odd){
    padding: left 30px;
}
li:nth-child(1):hover::after{
    content:"--";
}
li:nth-child::before{
    content:"!!!";
}
li:last-child{
    position: absolute;
    top: 0;
}
ol{
    position: relative;
    top: 10px;
    left:10px;
}
div:nth-child(2){
    height: 300px;
    overflow: scroll;
}
div:nth-child(2)>img{
    display: none;
}
div:nth-child(2):hover>img{
    display: inline-block;
}