div,nav,ul,li,main,h1,p{
    display:inline-block;
    width: 100%;
    vertical-align: top;
    position: relative;
}
img{
    width: 300px;
}
#div_esquerre{
    width: 30%;
}
#div_dreta{
    width: ;
}